@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body, html {
  height: 100%;
  margin: 0;
  background-color: #B4CDFF;
}

.card-container {
  display: flex;
  width: 100%;
}
.drop-down {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: scroll;
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png")
}

h3:hover {
  color: blue;
}

.pokecard {
  font-family: 'Anton', sans-serif;
  border: 5px solid red;
  background-color: yellow;
  color: blue;
  border-radius: 25px;
  padding: 30px;
  text-align: center;
  margin: 20px;
}

.searchlistcontainer {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

input {
  font-size: 20px;
  font-family: 'Anton', sans-serif;
}

button {
  background-color: yellow;
  color: blue;
  border: 2px solid red;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  cursor: pointer;
}